<ion-view title="Jobs List">
    <ion-nav-buttons side="right">
        <span class="status-bar-button" ng-model="searchStatus" ng-click="changeStatus()">{{ searchStatus.title | capitalize }}</span>
    </ion-nav-buttons>
    
    <ion-content>
        <ion-item ng-if="searchStatus.status == 'all'" ng-repeat="job in jobs" class="fadein" ui-sref="home.job-detail({jobid: job.id})">
            <div class="list-item list-status-{{getJobStatus(job.status)}}">
                <div class="list-address">
                    <span ng-if="job.addressLine1">{{job.addressLine1}},</span>
                    <span ng-if="job.addressLine2">{{job.addressLine2}},</span>
                    {{job.postcode}}
                </div>
                <span class="list-name">{{job.name}}</span>
            </div>
        </ion-item>
        
        <ion-item ng-repeat="job in jobs | filter :{status: searchStatus.id}" class="fadein" ui-sref="home.job-detail({jobid: job.id})">
            <div class="list-item list-status-{{getJobStatus(job.status)}}">
                <div class="list-address">
                    <span ng-if="job.addressLine1">{{job.addressLine1}},</span>
                    <span ng-if="job.addressLine2">{{job.addressLine2}},</span>
                    {{job.postcode}}
                </div>
                <span class="list-name">{{job.name}}</span>
            </div>
        </ion-item>
        
    </ion-content>
</ion-view>