<ion-view>
    <ion-content class="login-page">
        <div id="login-form">
            <h1>AGH <strong>Electrical</strong></h1>

            <div class="input-container">
                <span class="input-icon"><i class="fa fa-user"></i></span>
                <input type="text" class="" ng-model="username" placeholder="Username" />
            </div>

            <div class="input-container">
                <span class="input-icon"><i class="fa fa-key"></i></span>
                <input type="password" class="" ng-model="password" placeholder="Password" />
            </div>

            <button id="login-form-submit" type="submit" class="btn btn-agh-login" ng-click="login()"></button>
        </div>
    </ion-content>
</ion-view>