ion-content {
    background-color: #e7e7e7;
}

ion-header-bar {
    background-color: #232229 !important;
    color: white !important;
}

.login-page {
    background-color: #232229;
    color: white;
}

#login-form {
    padding-top: 150px;
    padding-left: 28px;
    padding-right: 28px;
}

#login-form h1 {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

#login-form .input-container {
    display: flex;
    background-color: #19181D;
    margin-bottom: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
}

#login-form .input-icon {
    display: flex;
    width:14%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#login-form .fa {
    font-size: 16px;
    color: white;
}

#login-form input {
    height: auto;
    width: 86%;
    padding: 8px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
}

#login-form input:hover,
#login-form input:active,
#login-form input:focus {
    outline: 0;
}

.btn-agh-login {
    font-family: 'Open Sans';
    background-color: #7AC3FF;
    color: white;
    border: none;
    border-radius: 2px;
    width: 100%;
    padding: 8px 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-agh-login:after {
    content: 'Login';
}

.btn-agh-login:hover,
.btn-agh-login:active,
.btn-agh-login:focus {
    color: white;
}

.item {
    border-top: 0;
    background: transparent;
}

.item-complex .item-content {
    margin: 2px 6px;
    padding: 0;
}

.list-item {
    display: block;
    cursor: pointer;
    /*margin: 2px 6px;*/
    padding: 10px 10px;
    background-color: white;
    border-left: 7px solid transparent;
}

.list-address {
    font-weight: 600;
    color: #333;
}

.list-status-pending {
    border-left-color: #A9ACA9;
}

.list-status-success {
    border-left-color: #7AC74F;
}

.list-status-error {
    border-left-color: #E63946;
}

.fadein.ng-enter-stagger {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.fadein.ng-enter {
    -webkit-animation: fadeInDown 0.6s;
    animation: fadeInDown 0.6s;
}

.job-details {
    background: white;
    margin: 6px;
    padding: 6px;
}

.job-details input {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 6px;
}

.details-wrap {
    margin-bottom: 14px;
    padding: 14px 0;
}

.details-wrap .heading {
    border-bottom: 1px solid #666;
}

.details-wrap .heading h2 {
    display: inline-block;
    font-size: 18px;
    font-family: 'Open sans';
    color: #333;
}

.details-wrap .col,
.details-wrap .row {
    padding: 0;
}

.details-wrap .row {
    padding: 0 5px;
}

.materials .ion-ios-plus-empty {
    font-size: 30px;
}

.bar .button, .bar button {
    font-family: 'Open Sans';
    background: transparent;
    color: white;
    border-color: white;
}

#signatureCanvas {
    width: 100%;
    height: 100px;
    border: 1px solid #666;
    margin-top: 14px;
    color: #666;
}

.status-bar-button {
    padding-top: 7px;
    padding-right: 6px;
}

.materials-list {
    margin-bottom: 14px;
}

.materials-list li {
    border-bottom: 1px solid #eee;
}

.materials-list li input {
    display: inline-block;
    width: 90%;
    border: none;
}

.material-delete {
    display: inline-block;
    width: 8%;
    font-size: 30px;
    vertical-align: middle;
    text-align: right;
    padding-right: 4px;
}